DATABASE_URL=postgresql://postgres_user:postgres_password@db:5432/cadastral_check_service
APP_PORT=8000
EXTERNAL_SERVICE_URL=http://external-service:8001
EXTERNAL_SERVICE_TIMEOUT=60.0
EXTERNAL_SERVICE_RESULT_DELAY_SECONDS=0.1
EXTERNAL_SERVICE_PORT=8002
JWT_SECRET_KEY=change-this-secret
ACCESS_TOKEN_EXPIRE_MINUTES=30
COOKIE_SECURE=false
POSTGRES_DB=cadastral_check_service
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
